{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<div class="legal-notice">

    <div>
        <h1>MENTIONS LÉGALES</h1>

        <p>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site Boulangerie de la gare l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>
    </div>

    <div>
        <h2>Edition du site</h2> 

            <p>Le présent site, accessible à l'URL www.boulangerie-de-la-gare.fr (le « Site »), est édité par :

            Boulangerie de la gare , société au capital de 1000 euros, inscrite au R.C.S. de EVRY sous le numéro Evry B 904 767 738, dont le siège social est situé au 38 rue Nettie Stevens 91000 Evry, représenté(e) par Ridha Dabbak dûment habilité(e)

            Le numéro individuel TVA de l'éditeur est : FR47904767738.</p>
    </div>

    <div>
        <h2>Hébergement</h2>

        <p>Le Site est hébergé par la société LWS, situé 10 Rue de Penthièvre 75008 Paris, (contact téléphonique ou email : +33177623003).</p>
    
    </div>

    <div>
        <h2>Directeur de publication</h2> 

        <p>Le Directeur de la publication du Site est Ridha Dabbak.</p>
    </div>

    <div>
        <h2>Nous contacter</h2> 

        <p>Par téléphone : +33652083945
        Par email : contact@boulangerie-de-la-gare.fr
        Par courrier : 38 rue nettie stevens 91000 Evry</p>
    </div>

    <div>
        <h2>Données personnelles</h2>

        <p>Le traitement de vos données à caractère personnel est régi par notre Charte du respect de la vie privée, disponible depuis la section "Charte de Protection des Données Personnelles", conformément au Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016 («RGPD»).</p>
    </div>
    


</div>
{% endblock %}
